body{
    margin: 0;
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    color: #ef4444;
}